*{
	margin: 0;
	padding: 0;
}
body{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: linear-gradient(130deg , rgb(162, 255, 238) ,rgb(114, 114, 114) , rgb(229, 229, 229) ,rgb(120, 183, 255) );
}

.container{
	background: linear-gradient(80deg , rgb(180, 196, 255) , rgb(103, 100, 100) );
	padding: 50px;
	border-radius: 1rem;
	min-height: 25vh;
	width: 20rem;
}
form select,button,input{
        width: 100%;
		border: none;
		outline: none;
}
form input{
	border: none;
	background-color: rgb(255, 240, 221);
	font-size: 1rem;
	height: 3rem;
	padding-left: 0.5rem;
	border-radius: 2rem;
}
.dropdown{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;

}
.select-container img{
	max-width: 2rem;
}
.select-container{
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.5rem;
	border: 1px solid rgb(255, 255, 255);
	width: 6rem;
	background-color: aliceblue;
}
.msg{
	margin: 2rem 0 2rem 0;

}
form button{
	height: 3rem;
	background-color: rgb(7, 94, 255);
	color: aliceblue;
	cursor: pointer;
	border-radius: 10px;
	font-size: 1.15rem;
}
